<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/application.css"}}" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">

    {{navigation}}

    <div class="site-wrapper">

        {{! Everything else gets inserted here }}
        {{{body}}}

        <footer class="site-footer">
            <!-- Footer Start -->
            <div class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="http://shalery.net/" target="_blank">About Us</a>
                        </div>
                        <div class="col-xs-6">
                            <span class="pull-right">Copyright © 2015 ChinaLab by <a href="http://shalery.net/" target="_blank">Shalery Studio</a>. All Rights Reserved</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->
        </footer>

    </div>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! jQuery }}
    <script type="text/javascript" src="{{asset "js/jquery-2.1.4.min.js"}}" ></script>
    <script type="text/javascript" src="{{asset "js/bootstrap.js"}}"></script>
    {{! The main JavaScript file for Casper }}
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>

</body>
</html>
