{{!< default}}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}    
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-1 col-lg-10">
                <main class="content post-article" role="main">

                <article class="{{post_class}}">

                    {{! Everything below outputs content of the the post which has been published }}
                    <h1 class="post-title">{{{title}}}</h1>
                    <div class="meta">
                        <span class="item author"><img src="{{author.image}}">{{author}}</span>
                        <span class="item time">{{date format='YYYY年MM月DD日'}}</span>
                    </div>

                    <section class="post-content">
                        {{content}}
                    </section>

                    <footer class="post-footer">
                    </footer>

                </article>
                </main>
            </div>
        </div>
    </div>
{{/post}}
